<div class="row page-header">
  <h1>Upload Video</h1>
</div>

<div class="well">
  <%= form_tag @upload.endpoint, :multipart => true do %>
    <%= hidden_field_tag :uploadtoken, @upload.token %>
    
    <%= hidden_field_tag :callback, callback_videos_url %>
    
    <%= label_tag :title %>
    <%= text_field_tag :title %>
    
    <%= label_tag :description %>
    <%= text_field_tag :description %>
    
    <%= label_tag :file %>
    <%= file_field_tag :file %>
    
    <div class="form-actions">
      <%= submit_tag "Upload", :class => "btn-primary" %>
    </div>
  <% end %>
</div>