<!DOCTYPE html>
<html>
<head>
  <title>viddler.io</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">viddler.io</a>
          <ul class="nav">
            <li><%= link_to "Videos", videos_path %></li>
            <li><%= link_to "Upload", new_video_path %></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>  
    </div>
  </body>
</html>
